@import '../common.scss';

.placeholder{
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    background-color: #fff;
    height: 2.3em;
    line-height: 2.3em;
    color: rgba(0,0,0,.3);
}
