button{
  margin: 40px 0;
}
.text-box{
  margin-bottom: 70px;
  padding: 40px 0;
  display: flex;
  min-height: 300px;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #353535;
  line-height: 2em;
}