.page-body-info {
  height: 250px;
}
.page-body-text-small {
  font-size: 24px;
  color: #000;
  margin-bottom: 100px;
}
.page-body-text-location {
  display: flex;
  font-size: 50px;
}
.page-body-text-location text {
  margin: 10px;
}
