@import "../../../common/lib/weui.scss";

.permission-select {
  display: flex;
  align-items: center;
  height: initial;
  line-height: initial;
}
.weui-panel {
  margin-top: 60px;
}
.input-area {
  margin-top: 60px;
}
.btn-area {
  margin-bottom: 60px;
}
