.page-section{
  width: auto;
  margin: 30px;
  padding: 44px 60px 60px;
  background-color: #fff;
  font-size: 28px;
}
.desc{
  margin-bottom: 20px;
}
.input{
  height: 119px;
  line-height: 119px;
  font-size: 78px;
  border-bottom: 1px solid #E2E2E2;
}
.btn-area{
  padding: 0;
}
